* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #2d2d2d;
}

@media screen {

  main {
    display: none;
  }

  h1 {
    font-size: 10em;
    text-transform: uppercase;
  }

  p {
    font-size: 1em;
    font-weight: 300;
  }

  div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  div:first-child > p {
    margin-top: 5em;
  }

}

@media print {

  @page {
    size: A5;
    margin: 10mm;
    bleed: 3mm;
    page-break-before: always;
  }

  @page:left {
    @bottom-left{
      content: "Add Nonsense";
      font-size: 9pt;
    }
  }

  main > h2 {
    page-break-before: always;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 20pt;
  }

  h3 {
    font-size: 16pt;
  }

  p {
    margin: 1em 0;
    font-size: 12pt;
  }

  div:first-child {
    page-break-after: always;
  }

  div:first-child > p {
    display: none;
  }

  figure {
    margin: 1em 0;
  }

  figure > img {
    max-height: 50mm;
  }

  figure > figcaption {
    margin-top: 1em;
    font-size: 10pt;
    font-style: italic;
  }

}
